* {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  transition: all 600ms;
}

.App {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100dvh;
}

.themeContainer {
  border: 1px solid rgb(210, 210, 210);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  margin-bottom: 20px;
}

button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  background-color: var(--bg-color);
}

button:hover {
  transform: scale(1.2);
}
